* {
  letter-spacing: 1px;
}

body {
  /* background-color: #FFEC4F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.69'%3E%3Cpolygon fill='%23e2d24b' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23c6b847' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23a99e43' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%238c843f' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%236f6a3b' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23535037' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23363633' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  background-color: #fffdea;
}
